<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.imagemapster.js"></script>
    <script type="text/javascript">
      function seleccionarColor(tono,color){
        $('#tono').val(tono);
        $('#muestraColor').css({ 'background':color});
      }
    </script>
    <title>Registro de Prenda</title>

    <style>
      .thumb {
        width: 65%;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
      }
      #drop_zone{
        border: #000 1px dashed;
        width: 95%;
        height: 200px;
      }
      .palet{
        width: 70%;
        height: 200px;
      }
    </style>

    <link href="bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    {{$climas := index . "climas"}}
    {{$colores := index . "colores"}}
    {{$ocasiones := index . "ocasiones"}}
    {{$tiposPrenda := index . "tiposPrenda"}}

    <div class="container">
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <h1 id="forms">Prenda</h1>
          </div>
        </div>
<div class="well bs-component">
  <form class="form-horizontal" method="post" action="registroPrenda" name="formaRegistro">
        <div class="row">
          <div class="col-lg-12">
             <legend>En este apartado podrá agregar y clasificar su ropa para que podamos darte sugerencias más adelante.<br><br></legend>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-lg-offset-1">
            <div class="row">
                <label for="fotos" class="col-lg-6 control-label">Selecciona la foto de la prenda</label>
                <br><br>
                <input type="file" id="fotos" name="fotos[]" accept="image/*"/>
            </div>
            <br>
            <div class="row">
              <div id="drop_zone"><br /><center>Arrastra y suelta tu foto aqui</center></div><br>
            </div>
          </div>
          <div class="col-lg-5 col-lg-offset-1">
              <output id="list"></output>
              <br>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
                <fieldset>
                  <div class="form-group">
                    <label for="select" class="col-lg-3 control-label">¿Qué tipo de prenda es?</label>
                    <div class="col-lg-9">
                      <select class="form-control" name="tiposPrenda" id="fselect">
                        {{range $prenda := $tiposPrenda}}
                          <option value="{{$prenda.ID}}">{{$prenda.Nombre}}</option>
                        {{end}}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Selecciona el color de la prenda...</label>
                    <div class="col-lg-2" id="fuck1">
                      <img style="align:center"class="palet" src="img/colorwhel.svg" usemap="#PaletaMap" id="paleta" alt="paleta"/>
                      <map name="PaletaMap">
                        <area href="javascript:seleccionarColor(0,'#ED1E24');" shape="poly" coords="130,120,75,20,130,5" data-alt="rojo" data-title="rojo"/>
                        <area href="javascript:seleccionarColor(1,'#FBA51A');" shape="poly" coords="140,115,135,3,195,20" data-alt="naranja" data-title="naranja"/>
                        <area href="javascript:seleccionarColor(2,'#F4EB20');" shape="poly" coords="150,120,200,25,240,65" data-alt="amarillo" data-title="amarillo"/>
                        <area href="javascript:seleccionarColor(3,'#9BCA3C');" shape="poly" coords="150,130,260,130,245,70" data-alt="verdeamarillo" data-title="verde"/>
                        <area href="javascript:seleccionarColor(4,'#71C055');" shape="poly" coords="150,135,245,190,258,135" data-alt="verde" data-title="masverde"/>
                        <area href="javascript:seleccionarColor(5,'#71C6A5')" shape="poly" coords="150,145,200,240,240,195" data-alt="verdeazul" data-title="verdeazul"/>
                        <area href="javascript:seleccionarColor(6,'#40B8EA');" shape="poly" coords="140,145,135,260,195,240" data-alt="azul" data-title="azul"/>
                        <area href="javascript:seleccionarColor(7,'#436FB6');" shape="poly" coords="130,140,75,245,130,255" data-alt="azulvioleta" data-title="azulmorado"/>
                        <area href="javascript:seleccionarColor(8,'#5B52A3');" shape="poly" coords="120,140,20,200,70,240" data-alt="vlioleta" data-title="morado"/>
                        <area href="javascript:seleccionarColor(9,'#8750A1');" shape="poly" coords="120,135,20,195,5,135" data-alt="moradomalva" data-title="moradorosa"/>
                        <area href="javascript:seleccionarColor(10,'#D1499B');" shape="poly" coords="125,130,10,130,20,70" data-alt="moradorosa" data-title="rosa"/>
                        <area href="javascript:seleccionarColor(11,'#EC197A');" shape="poly" coords="120,120,25,65,70,23" data-alt="rosa" data-title="rosarojo"/>
                      </map>
                    </div>
                    <div class="col-sm-2" id="fuck3">
                      <table class="table" style="height:148; width:50; border:solid">
                        <tr>
                          <td bgcolor="#FFFFFF" name="white" id="14"></td>
                        </tr>
                        <tr>
                          <td bgcolor="#848484" name="gray" id="13"></td>
                        </tr>
                        <tr>
                          <td bgcolor="#000000" name="black" id="12"></td>
                        </tr>
                      </table>
                    </div>



                  <div style="display:none" name="mescl" id="fuck2" class="col-lg-3">
                    <table class="table" style="height:148; width:50; border:solid">
                      <tr>
                        <td style="background-image:url(img/clara.jpg)" name="claro" id="17"></td>
                      </tr>
                      <tr>
                        <td style="background-image:url(img/media.jpg)" name="medio" id="16"></td>
                      </tr>
                      <tr>
                        <td style="background-image:url(img/obscura.jpg)" name="obscuro" id="15"></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-2" id="fuck3">
                    Seleccionado:<br/>
                    <table class="table" style="height:25px; width:50px; border:0px">
                      <tr>
                        <td bgcolor="#000" id="muestraColor"></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="form-group">
                <div class="row-sm-5">
                  <label class="col-lg-3 control-label">Selecciona el tono de tu prenda(claro-obscuro)</label>
                  <div class="col-lg-3">
                      <input type="range" name="brillo" id="brillo" min="0" max="4"/>
                  </div >
                </div>
              </div>


                  <div class="form-group">
                    <label class="col-lg-3 control-label">¿En qué clima la usas?</label>
                    <div class="col-lg-9">
                       {{range $clima := $climas}}
                        <div class="radio">
                        <label>
                          <input type="radio" name="climas" value="{{$clima.ID}}" checked="">
                          {{$clima.Nombre}}
                        </label>
                      </div>
                       {{end}}
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="select" class="col-lg-3 control-label">¿Para qué ocasiones la usas?</label>
                    <div class="col-lg-9">
                      <select class="form-control" name="ocasiones">
                        {{range $ocasion := $ocasiones}}
                          <option value="{{$ocasion.ID}}">{{$ocasion.Nombre}}</option>
                        {{end}}
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-1 col-lg-offset-6">
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                  </div>
                  <input type="hidden" name="tono" value="12" id="tono">
                </fieldset>
              </form>
            </div>
          </div>

            <script>
        function archivo(evt) {
            var fotos = evt.target.files; //FileList object
            for (var i = 0, f; f = fotos[i]; i++) { //Imagen de file
              var reader = new FileReader();
              reader.onload = (function(theFile) {
                  return function(e) {
                  document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');                  };
              })(f);
              reader.readAsDataURL(f);
            }
        }
        document.getElementById('fotos').addEventListener('change', archivo, false);
      </script>

<script>
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object.
    for (var i = 0, f; f = files[i]; i++) {
      var reader = new FileReader();
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
        };
      })(f);
      reader.readAsDataURL(f);
    }
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy';
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);

  $('#paleta').mapster({
            fillColor: 'ffffff',
            fillOpacity: 0.1,
            clickNavigate: true
           });
  //$('#paleta').resize(function(){alert("aa");});

$('#paleta').mapster('resize', 148, 0, 1000);
$(document).on('click','td',function(e) {
  id=e.target.id
  $('#tono').val(id);
  if (id==12){
    $('#muestraColor').css({ 'background':'black'});
  }else if (id==13){
    $('#muestraColor').css({ 'background':'gray'});
  }else if (id==14){
    $('#muestraColor').css({ 'background':'white'});
  }else if (id==15){
    $('#muestraColor').css({ 'background-image':'url(img/obscura.jpg)'});
  }else if (id==16){
    $('#muestraColor').css({ 'background-image':'url(img/media.jpg)'});
  }else if (id==17){
    $('#muestraColor').css({ 'background-image':'url(img/clara.jpg)'});
  }else{
    $('#muestraColor').css({ 'background':'black'});
  }


});
$("#fselect").on('change', function(e) {
  var n = $("#fselect option:selected").text();

  if (n =="Pantalon/Falda") {
    $( "#fuck1" ).hide( "slow" );
    $( "#fuck3" ).hide( "slow" );
    $( "#fuck2" ).show(1000);
  }
  else {
    $( "#fuck1" ).show(1000);
    $( "#fuck3" ).show(1000);
    $( "#fuck2" ).hide( "slow" );
  }
});
</script>

        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
